@import "animations.css";

:root{
    --blue: rgba(21,30,63);
    --white: rgba(255, 255, 255, 0.7);
}

body, .navbarFix{
    background-color: var(--blue);
}

.sectionUnique {
    margin-top: 16rem;
    border-radius: 20px;
    background-color: var(--white);
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
}

.buttonGo{
    background-color: #99A1A6;
    border: none;
}

#registerForm, .singIn {
    display: none;
}

.error-message {
    color: red;
    font-size: 12px;
}